---
const teamMembers = [
  { name: "David Malenowski", role: "Gesch채ftsf체hrer", image: "/images/Mesias.jpg" },
  { name: "Fabian Steinberg", role: "Strategin", image: "/images/Fabian.jpg" },
];
---

<section id="uber-uns" class="team-section">
  <div class="team-grid">
    <div class="team-member">
      <img src="/images/Mesias.jpg" alt="Mesias" />
      <div class="member-info">
        <h3>David <br> Malenowski</h3>
        <p>Gesch채ftsf체hrer</p>
      </div>
    </div>

    <div class="team-member">
      <img src="/images/Fabian.jpg" alt="Eva Beispiel" />
      <div class="member-info">
        <h3>Fabian <br> Steinberg</h3>
        <p>Strategin</p>
      </div>
    </div>
  </div>
</section>

